@import "tailwindcss";
@plugin "daisyui";

@theme {
  --animate-pan-slow-x: pan-x 40s linear infinite;
  --animate-pan-slower-x: pan-x 80s linear infinite;
  --animate-pan-slow-y: pan-y 40s linear infinite;

  @keyframes pan-x {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  @keyframes pan-y {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 1000px;
    }
  }
}

html,
body {
  /* Firefox */
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
}

/* Custom Scrollbar Styles */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #000000; /* Black background (outside) */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #ff66c4; /* Pink handle (inside) */
  border-radius: 12px;
  border: 2px solid #000000; /* Creates black outline */
}

/* Firefox support */
html,
body {
  scrollbar-width: auto;
  scrollbar-color: #ff66c4 #000000; /* thumb color | track color */
}

@theme inline {
  --font-anton: var(--font-anton);
  --font-inter: var(--font-inter);
}

.text-team {
  color: #ff66c4;
}

.bg-team {
  background-color: #ff66c4;
}

.btn-team {
  background: #ff66c4;
}

/* global.css */
.drawer-toggle:checked ~ .drawer-side ul {
  transform: translateX(0);
  opacity: 1;
}

.drawer-toggle:checked ~ .drawer-side .drawer-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}
