@import "tailwindcss";

@plugin "daisyui";
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*/

/*@theme {*/
/*    font-family: "Inter", sans-serif;*/
/*}*/
/* @plugin "daisyui/theme" {
    name: initial;
    color-scheme: darl;
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(26% 0.007 34.298);
    --color-base-content: oklch(100% 0 0);
    --color-primary: #ff66c4;
    --color-primary-content: oklch(28% 0.091 267.935);
    --color-secondary: oklch(86% 0.127 207.078);
    --color-secondary-content: oklch(30% 0.056 229.695);
    --color-accent: oklch(80% 0.105 251.813);
    --color-accent-content: oklch(28% 0.091 267.935);
    --color-neutral: oklch(21% 0.006 56.043);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
} */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

@theme inline {
    --font-anton: var(--font-anton);
}

.text-team {
    color: #ff69b4;
}

.bg-team {
    background-color: #ff69b4;
}

.btn-team {
    background: #ff69b4;
}

/* global.css */
.drawer-toggle:checked ~ .drawer-side ul {
    transform: translateX(0);
    opacity: 1;
}

.drawer-toggle:checked ~ .drawer-side .drawer-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}
