@import "tailwindcss";
@plugin "daisyui";

@theme {
  --animate-pan-slow-x: pan-x 40s linear infinite;
  --animate-pan-slower-x: pan-x 80s linear infinite;
  --animate-pan-slow-y: pan-y 40s linear infinite;

  @keyframes pan-x {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  @keyframes pan-y {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 1000px;
    }
  }
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@theme inline {
  --font-anton: var(--font-anton);
  --font-inter: var(--font-inter);
}

.text-team {
  color: #ff69b4;
}

.bg-team {
  background-color: #ff69b4;
}

.btn-team {
  background: #ff69b4;
}

/* global.css */
.drawer-toggle:checked ~ .drawer-side ul {
  transform: translateX(0);
  opacity: 1;
}

.drawer-toggle:checked ~ .drawer-side .drawer-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}
